#board {
  padding-top: 3em;
  text-align: center;
}
.row {
  margin: 0;
  margin: auto;
  width: 302px;
  clear: both;
  text-align: center;
}
.row > div {
    font-size: 3em;
    line-height: 100px;
  cursor: pointer;
  float: left;
  height: 100px;
  width: 100px;
  padding: auto;
}
.top {
  border-bottom: 1px black solid;
  
}
.bottom {
  border-top: 1px black solid;
}
.left {
  border-right: 1px black solid;
}
.right {
  border-left: 1px black solid;
}
